body, input {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 12px
}
a {
  text-decoration: none;
}
div.explain {
  padding: 4px;
}
div#foot, th {
  background-color: #2ba476;
  color: white;
  padding: 4px;
}
div#foot a:link,  
div#foot a:visited,
th a:link, th a:visited {
  color: white;
}
div#foot a,
div#foot a:visited:hover,
div#foot a:link:hover,
th a, th a:visited:hover, th a:link:hover {
  color: blue;
}
div#home-search {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}
div#home-search input[type=text] {
  width: 200px;
}
div#navigation {
  float: right;
}
div#navigation a {
  padding: 0px 4px;
  border-left: 1px solid white;
}
div#navigation a:first-child {
  padding: 0px 4px;
  border-left: 0px;
}
div#result-search {
  text-align: right;
}
div#result-search input[type=text] {
  width: 200px;
}
div#welcome {
  margin-top: 75px;
  float: right;
  text-align: right;
}
img {
  border: 0px;
}
table {
  width: 100%;
}
td {
  padding: 4px;
}
td#alphaheader {
  padding: 4px;
  background-color: #cf9;
  font-weight: bold;
}
td#alphaheader a {
  padding: 0px 8px;
  border-left: 1px solid black;
  color: black;
}
td#alphaheader a:first-child {
  border-left: 0px;
}
td#alphaheader a:link,
td#alphaheader a:visited {
  color: blue;
}
td#alphaheader a:link:hover,
td#alphaheader a:visited:hover {
  color: red;
}
td.company {
  font-style: italic;
}
td.info {
  padding: 8px; 
  font-weight: bold;
}
td#offsetheader {
  padding: 4px 0px;
  background-color: #cf9;
  font-weight: bold;
  border-top: 1px solid #7bcf88;
}
td#offsetheader a {
  background-color: #cf9;
  padding: 4px 8px;
  color: black;
  background-color: #7bcf88;
}
td#offsetheader a:link,
td#offsetheader a:visited {
  background-color: #cf9;
  color: blue;
}
td#offsetheader a:link:hover,
td#offsetheader a:visited:hover {
  color: red;
}
td.product {
  font-size: 14px;
  font-weight: bold;
}
td.warn {
  padding: 8px; 
  color: #F70;
  font-weight: bold;
}
th {
  text-align: left;
}
tr.bg {
  background-color: #dcefd6;
}
tr.zuzahlungsbefreit {
  background-color: #fbfd98;
}
tr.zuzahlungsbefreit.bg {
  background-color: #fafc6d;
}
.price_public, .festbetrag, .price_difference, .doses {
  text-align: right;
}
.festbetragsstufe, td.zuzahlungsbefreit, th.zuzahlungsbefreit {
  text-align: center;
}
